################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GAME3001_W05_AStar/GAME3001_W05_AStar/.vs/GAME1017_Template_W01/v16
